<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journova Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="register-container">

        <h1>Journova</h1>
        <h2>Welcome</h2>

        <p>You are logged in as {{ email }}</p>

        <p>Reflective Journal</p>
        <p>Mood Tracking</p>
        <p>Sentiment Feedback</p>

        <p>
            <a href="{{ url_for('logout') }}">Logout</a>
        </p>

    </div>

</body>
</html>